/ %h1 Listing events
/ = form_tag events_path, method: :get do
/   = select_tag(:event_id, options_for_select([['Only my events', false], ['All events', true]]), include_blank: true)
/   = submit_tag "send"

= form_tag events_path, method: :get do
  = submit_tag "all"
  = submit_tag "my"
  
#events
  = render partial: 'calendar_events', locals: {date: @date, events_by_date: @events_by_date}

/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4#myModalLabel.modal-title Create new event
      .modal-body
        = render 'form'