%p#notice= notice

%p
  %b Description:
  = @event.description
%p
  %b Published on:
  = @event.published_on

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'delete event', event_path(@event), method: :delete